#cajaformulario{
    width: 95%;
    float: left;
    padding: 20px;
    border: 0px;
    text-align: center;
}
#cajadatos{
    float: right;
    width: 400px;
    margin-left: 20px;
    padding: 20px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clave, #texto{
width: 200px;
}

#cajadatos > div{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #999999;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4DAFF6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4465FB;
}
div {
    width: 95%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
}
#clave{
    width: 95%;
}

#texto{
    width: 95%;
}

#guardar{
    width: 40%;
}
#eliminar{
    width: 40%;
}
#cajadato{
    width: 95%;
}